<h1>Bienvenue sur votre banque en ligne</h1>

<% if user_signed_in? %>
  <%=link_to "Mon compte", user_path(@user)%>
<%else%>
  <p>Merci de vous identifier pour accéder aux services en ligne</p>
<%end%>
